%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand
        %b GitHub
        importer

      / Importer
      %form.navbar-form.navbar-left
        .form-group
          %input.form-control{:placeholder => "User", :type => "text", 'ng-model' => "vm.parse.user", 'ng-model-options'=>"{ debounce: 250 }"}
        .form-group
          %select.form-control{'ng-model' => "vm.parse.repo"}
            %option{'ng-repeat' => "repo in vm.parse.repos", value: "{{repo}}"} {{ repo }}

          -#%input.form-control{:placeholder => "Repo", :type => "text", 'ng-model' => "vm.parse.repo"}
        %button.btn.btn-info{'ng-click' => "vm.import_confirm()"} Import

      / Filter
      %form.navbar-form.navbar-right
        .form-group
          %input.form-control{:placeholder => "User email", :type => "text", "ng-model" => "vm.filter.email"}
