= render 'templates/commits/header'

.container
  .starter-template
    .box
      {{ vm.parse_user }}
      {{ vm.parse_repo }}
    .box
      .box-body.no-padding
        .row
          .col-xs-12
            %table.table.table-condensed.table-striped.table-hover.table-bordered
              %thead
                %td.col-xs-1 #
                %td.col-xs-3 Имя
                %td email
                %td.col-xs-1 Дата
                %td Описание
              %tbody
                %tr{'dir-paginate' => "commit in vm.commits | filter:vm.filter | itemsPerPage: vm.items_limit"}
                  %td {{commit.id}}
                  %td
                    .form-group
                      %input.form-control{'ng-model' => "commit.name",type: "text", value: "{{commit.name}}", 'ng-readonly' => '!($index == vm.eEditable)', 'ng-dblclick' => "vm.eEditable = $index", "ng-blur" => "vm.eEditable = -1", "ng-change" => "vm.name_changed(commit)", 'ng-enter'=> "vm.update_author(commit)"}
                    .form-group
                      %a.btn.btn-xs.btn-flat{'ng-hide' => "$index != -1"}
                        %i.fa.fa-pencil
                  %td {{commit.email}}
                  %td {{commit.date | date}}
                  %td {{commit.message}}
      .box-footer
        .col-xs-12
          %dir-pagination-controls